<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 th:text="'EpaCube'" />
        <p>Welcome to our page on EpaCube</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" onclick ="getMoreDetail()">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Price Optimizer</h2>
            <p>Optimizes prices for clients.</p>
            <p><a class="btn btn-default" href="#" role="button" onclick="getPrice()">View details &raquo;</a></p>

            <h2>Segment Creator</h2>
            <p>Properly segments client groups.</p>
            <p><a class="btn btn-default" href="#" role="button" onclick="getSegment()">View details &raquo;</a></p>

            <h2>Sales Optimizer</h2>
            <p>Find more consumer opportunities.</p>
            <p><a class="btn btn-default" href="#" role="button" onclick="getSales()">View details &raquo;</a></p>

            <h2>EpaCube Precision</h2>
            <p>food wholesale to grocery retail.</p>
            <p><a class="btn btn-default" href="#" role="button" onclick="getPrecision()">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->

<p th:if="${name != null}"  th:text="'Hello, ' + ${name} + '!'" />

<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>

<script>
    function getMoreDetail(){

    }

    function getPrice(){
        window.alert("epaCUBE’s Price Optimizer software thinks of pricing like a distributor. We understand the reasons products are grouped together when establishing prices, and how consistency helps in developing relationships with customers. epaCUBE enables you to know when to strategically change prices, and guide you in setting the levels.");
    }
    function getSegment(){
        window.alert("Before optimizing pricing with their current segments inside of epaCUBE Price Optimizer, many distributors find that their segmentation is too simple and lack the depth and definition needed for a truly optimized pricing strategy. Perhaps they have segmented their customers into small, medium and large groups or added industry codes or even gross profit levels. Unfortunately, that may not be granular enough.");
    }
    function getSales(){
        window.alert("Your customers are certainly buying products from competitors, but how do you know what those products are? Wouldn’t it be incredibly powerful if your sales reps could run a report of the products that your customers are buying from other sources?");
    }
    function getPrecision(){
        window.alert("epaCUBE Precision for Grocery puts both retailers and distributors in control of their products, pricing and promotions. epaCUBE Precision brings all of your important information together in one modern system, from distributor to retailer to shelf tag to promotion to consumer, in one integrated process.");
    }
</script>
</html>









